<header>
    <nav>
        <div class="logo">
            <a href="#">
                <p>lake</p>
                <p>compression</p>
            </a>
        </div>

        <section>
            <p>
                <strong>LakeCompression.io</strong> is a powerful online tool for reducing drastically the size of your images and photos whilst maintaining a high quality with almost no difference before and after compression.
            </p>
        </section>

        <section>
            <div>
                <i class="fa fa-files-o fa-2x pull-left fa-fw fa-border"></i>
                <strong>4 file formats supported</strong>
                <p>JPEG - PNG - GIF - SVG</p>
            </div>

            <hr>

            <div>
                <i class="fa fa-compress fa-2x pull-left fa-fw fa-border"></i>
                <strong>High compression</strong>
                <p>save hundreds of Kb</p>
            </div>

            <hr>

            <div>
                <i class="fa fa-picture-o fa-2x pull-left fa-fw fa-border"></i>
                <strong>2 types of compression</strong>
                <p>Lossless or Lossy</p>
            </div>
        </section>
    </nav>

    <footer>
        <a href="https://github.com/alaketych">alexandr laketych</a>
    </footer>
</header>