{{#if success_message}}
    <div class="alert alert-success animated bounceInUp" id="foo">
        {{ success_message }}

        <button onclick="closeMessage()">
            <span class="alertX" aria-hidden="true">&times;</span>
        </button>
    </div>
{{/if}}

{{#if error_message}}
    <div class="alert alert-error animated bounceInUp" id="foo">
        {{ error_message }}

        <button onclick="closeMessage()">
            <span class="alertX" aria-hidden="true">&times;</span>
        </button>
    </div>
{{/if}}