<article>
    <form action="/upload-image" class="dropzone">
        <h1>Choose your compression:</h1>

        <div class="radio-toolbar">
            <input type="radio" id="radioApple" name="radioFruit" value="apple" checked>
            <label for="radioApple">lossy</label>

            <input type="radio" id="radioBanana" name="radioFruit" value="banana">
            <label for="radioBanana">lossless (only for JPG/PNG)</label>
        </div>

        <i class="fa fa-cloud"></i>

        <div>Drag and drop your file here</div>
        <span>or</span>
    </form>
</article>