<form method="post" enctype="multipart/form-data" action="/compress">
    <h1>Choose your compression:</h1>

    <div class="radio-toolbar" id="ff">
        <input type="radio" id="lossy" name="typeCompression" value="lossy" checked>
        <label for="lossy">lossy</label>

        <input type="radio" id="lossless" name="typeCompression" value="lossless">
        <label for="lossless">lossless (only for JPG/PNG)</label>
    </div>

    <img class="uploadedImage" src="{{userImage}}"></img>

    <button class="compress">compress</button>
</form>
