<form method="post" enctype="multipart/form-data" action="/upload">
    <i class="fa fa-cloud"></i>
    <input name="uploadImage" type="file" class="custom-file-input">
    <button type="submit">submit</button>
</form>